body{
    font-family: 'Raleway', Helvetica, sans-serif, sans-serif;
    background-color:#FAFBFC;
    color: #000000;
    font-size: 1.4em;
    letter-spacing: 0.1em;
}

h1{
    color: #28A745;
    margin-top: 50px;
    border-bottom: 1px solid #28A745;
}

h2{
    text-align: center;
    text-transform: uppercase;
}

img{
    display: none;
}

form{
    text-align: center;  
    padding:  40px 10px 40px 10px ;  
    border-radius: 20px;
    background-color: whitesmoke;
    margin: auto;
    width: 80%;
}

input, select{
    margin-bottom: 40px;
    margin-top: 20px;
    margin-right: 15px;
    padding-top: 10px;
    border: 0.5px solid lightgrey;
    border-radius: 15px;
    padding-left: 5px;
    padding-top: 5px ;

}

label {
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 40px;

}

textarea{
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 15px;
    border: 0.5px solid lightgrey;
    width: 80%;
}

.height{
    height: 40px;
    width: 30%;
}
.bold{
    font-weight: bold;
    margin-bottom: 40px;
}

.italic{
    font-style: italic;
    font-weight: normal;
    font-size: smaller;
    margin-top: 20px;
}

.colonne{
display:flex;
flex-direction: row;
justify-content: space-around;
flex-wrap: wrap;
margin-bottom: 20px;
}
.colonne label, .colonne input{
    margin-bottom: 10px;
    margin-top: 10px;
}

.colonne1{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

button{
    background-color: #0366D6;
   text-align: center;
   font-weight: bold;
    border-width: 1px;
    border-color: whitesmoke  ;
   color : whitesmoke;
   margin-top: 20px;
   border-radius: 20px;
   font-size: 1.2em;
   padding : 20px 
}

button:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (min-width: 1000px) {
    body{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1em;
    }
    h1{
        font-weight: 700;
        font-size: 3em;
    }

    img{
        height: 150px;
        display: inline;
        margin-top: 100px;
        margin-left: 40px;
    }

    form {
   width: 60%;
   margin: 10px 20px 40px 20px;
    }
       
    input,  select{
        margin-top: 5px;
        margin-bottom: 20px;
    }

    button{
        font-size: 1em;
    }
    .height{
        height: 30px;
        width: 30%;
    }
    .italic{
        margin-top: 5px;
        display:inline;
    }
    .bold{
        margin-top: 50px;
    }
   }
 

